#root {
  max-width: 1280px;
  width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bigger-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.wrapper {
  background-color: rgb(74, 74, 74);
  border: 1px solid rgb(255, 221, 2);
  border-radius: 5px;
  display: flex;

  position: relative;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 300px;

  p {
    margin: 0.5rem;
    background-color: black;
    width: 250px;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: left;
  }

  span {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 23px;
  }
}

h1 {
  color: rgb(175, 255, 36);
}

.header {
  background-color: grey;
  color: rgb(255, 221, 2);
  font-size: 2rem;
  border-radius: 10px;
}

.form {
  margin: 2rem;
}

.input {
  height: 2rem;
  width: 300px;
  border-color: rgb(175, 255, 36);
  border-radius: 5px;
  font-weight: 800;
}

.input-button {
  margin-left: 1rem;
  background: rgb(175, 255, 36);
  color: black;
  font-weight: 800;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid rgb(175, 255, 36);
  }
}

.gif {
}
